/**
    TIPOGRAFÍAS

    font-family: 'Encode Sans', sans-serif;
    font-family: 'Hind', sans-serif;
**/

/** 
    COLORES 
    
    light-blue: #4686CC;
    blue: #1A5698;
    light-gray: #D9D9D9;
    yellow: #F9CF00;
**/ 

body{
    font-size:14px;
    font-family: 'Hind', sans-serif;
}

.gap1{
    height:1em;
}

.gap2{
    height:2em;
}

.gap3{
    height:3em;
}

.gap4{
    height:4em;
}

.gap20vh{
    height: 20vh;
}

.gap25vh{
    height: 25vh;
}

.gap30vh{
    height: 30vh;
}

.gap40vh{
    height: 40vh;
}



h1,h2,h3,h4{
    font-family: 'Encode Sans', sans-serif;
    font-weight: bolder;
}

/**
    NAVBAR
**/
.navbar{
    margin-bottom:0;
}

.navbar-default{
    background-color: #4686CC;
    border:0;
    border-radius:0;
    font-family: 'Encode Sans', sans-serif;
    text-transform:uppercase;
    font-weight:bolder;
    font-size:.9em;
}

.navbar-default .navbar-nav > li > a:link, .navbar-default .navbar-nav > li > a:visited, .navbar-default .navbar-nav > li > a:active{
    color:#fff;
}

.navbar-default .navbar-nav > li > a:hover{
    color:white;
    background-color:#F9CF00;
}

.navbar-default .navbar-nav > .active > a   {
    background-color:#fff;
    color:#4686CC !important;
}

#header{
    background-image:url('../../img/public/mainback.jpg');
    background-size:cover;
    background-position:center;
    min-height:100vh;
}

/**
    INPUTS
**/
input{
    border-radius:0 !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#D9D9D9;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #D9D9D9;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #D9D9D9 !important;
    opacity:  1;
    text-align:center;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #D9D9D9;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:    #D9D9D9;
}

#header .ti-search{
    position:absolute;
    top:.2em;
    right:.8em;
    color:#000;
    font-size:2.5em;
    font-weight:bolder;
    color:#D9D9D9;
    text-align:right;
}


#header h1{
    color:#fff;
    font-size:3em;
    text-align:center;
    font-weight:bolder;
}

#header h2{
    color:#F9CF00;
    font-size:2.3em;
    text-align:center;
    font-weight:bolder;
}

#header input[type=text]{
    font-size:2em;
    padding:.3em 1.7em;
    height:auto;
    color:black;
    font-weight:bolder;
    font-family: 'Encode Sans', sans-serif;
    text-align:center;
}

.center{
    text-align:center;
}

/**
    Buttons
**/
.btn{
    border-radius:0;
    font-family: 'Encode Sans', sans-serif;
    text-transform:uppercase;
    font-weight:bolder;
}

.btn-primary{
    border:1px solid #fff;
    background-color:#1A5698;
}

.btn-primary:hover{
    color:#1A5698;
    background-color:#F9CF00;
}

.btn-warning{
    border:1px solid #fff;
    background-color:#F9CF00;
    color:#1A5698;
}

/*
    PLAZAS
*/
#plazas{
    /*background-color:#D9D9D9;*/
  
}

#plazas h2{
    color:#F9CF00;
}


/*  
    PROMOCIONES
*/
#promociones{
background-color:#1A5698;   
    color:#fff;
}


/*
    EVENTOS
*/
#eventos h2{  
    color:#F9CF00;
}

/*
    FOOTER
*/
footer{
    padding:4em;
    background-color:#D9D9D9;
}

/*
    TABLE
*/
.table{
    text-align: center;
}